.cars {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  flex: 40%;
  max-width: 40%;
}

mat-card-title {
  font-size: 1rem;
}

.info-text {
  text-align: center;
}

button {
  margin: 0.25rem;
}

@media only screen and (max-width: 903px) {
  .card {
    margin: 1rem;
    flex: 100%;
    max-width: 100%;
  }
}
